<html>
<head>
    <title> Quiz app </title>
</head>
<body>
    <h1>create question</h1>
    <form method="POST">
        <input name="question_text" id="question" placeholder="Enter Question"></input><br>
        <input type="radio" name="ans" id="ans_t" value="True">True</input><br>
        <input type="radio" name="ans" id="ans_f" value="False">False</input><br>

        <button id="add_btn">Add</button>
        {% csrf_token %}
    </form><br>

    <h2> Question </h2>
    <table id="question_table">
        <tr> <td> {{ question }} </td> </tr>
    </table>
</body>
</html>
