<html>
<head>
    <title> Quiz app </title>
</head>
<body>
    <h1>create question</h1>
    <form method="POST">
        <input name="question_text" id="question" placeholder="Enter Question"></input><br>
        <input type="radio" name="ans" id="ans_t" value="True">True</input><br>
        <input type="radio" name="ans" id="ans_f" value="False">False</input><br>

        <button id="add_btn">Add</button>
        {% csrf_token %}
    </form><br>

    <h2> Question </h2>
    <table id="question_table">
        {% for question in questions%}
        <tr> 
            <td><b style="font-size: 20px"> {{ question.text }} </b> <br>  
            <b> answer correct people: {{question.correct_count}}, answer people: {{question.count}}</b>
                <form method="POST" action="/ans/{{question.id}}">
                    {% csrf_token %}
                    <input type="radio" name="ans" id="ans_t_{{question.id}}" value="True">True</input><br>
                    <input type="radio" name="ans" id="ans_f_{{question.id}}" value="False">False</input><br>
                    <button id="submit_btn_{{question.id}}">Submit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
